* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: black;
}

header {
    background-image: url('https://png.pngtree.com/background/20231101/original/pngtree-web-development-concept-3d-illustrated-programming-and-coding-picture-image_5828036.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    position: relative;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    padding: 2vw 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 15vw;
    max-width: 110px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    list-style: none;
    padding: 0.5vw;
    margin: 1vw;
}

nav ul li a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: clamp(16px, 2.5vw, 28px);
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(255, 24, 24);
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 6px;
}

nav ul li a:hover::after {
    width: 100%;
    transition: 1.5s ease-in-out;
    color: rgb(24, 145, 133);
}

.intro {
    margin-top: 10vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.intro p {
    font-size: 50px;
    font-weight: bolder;
}

.intro h3 {
    font-size: 40px;
    font-weight: bolder;
}

.name {
    color: rgb(235, 10, 55);
    font-size: 60px;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    width: 100%;
    z-index: 2;
}

/* ----------------about section ---------------------- */
.about {
    margin: 50px 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 5px;
    color: white;
}

.box1 {
    flex-basis: 40%;
}

.box1 img {
    width: 500px;
    height: 500px;
}

.box2 {
    flex-basis: 55%;
}

.introduction {
    margin-left: 60px;
}

.introduction h1 {
    margin-bottom: 20px;
}


.introduction p {
    margin-right: 60px;
}

.box2 h1 {
    font-size: 40px;
}

.box2 p {
    font-size: 24px;
    text-align: justify;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}

.skills-link {
    position: relative;
    cursor: pointer;
}

.skills-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(255, 6, 6);
    transition: 1s ease-in-out;
}

.skills-link:hover::after {
    width: 100%;
}

.active-link::after {
    width: 100%;
}


.content ul li {
    list-style: disc;
    padding: 10px;
    font-size: 20px;
}

.content {
    display: none;
    margin: 50px 0;
}

.content.display-skills {
    display: block;
}

#education span{
    font-size: 40px;
}

/* ----------------services section ---------------------- */

.container-services {
    margin: 50px 0;
    background-color: black;
    padding: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.container-services h1 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.service-box {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service-box h2 {
    font-size: 28px;
}

.service-box p {
    text-align: justify;
    font-size: 20px;
}

.service-box:hover {
    transform: translateY(-10px);
    background-color: rgb(157, 31, 31);
}

.service-box h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

.service-box p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.service-box a {
    display: inline-block;
    margin-top: 15px;
    color: #8782d1;
    font-size: 20px;
    font-weight: 500;
}


/* Portfolio section */
#portfolio {
    margin: 50px 0;
    padding: 50px 20px;
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}

.container-portfolio h1 {
    text-align: center;
    margin-bottom: 40px;
}
  .my-projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .projects {
      border: 2px solid white;
      color: rgb(248, 244, 244);
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      height: 100%;
  }

  .projects img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 1.5s;
  }

  .layer {
      width: 100%;
      height: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
      border-radius: 10px;
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      transition: height 1s;
      z-index: 2;
  }

  .layer a {
      margin-top: 20px;
      color: #ff004f;
      text-decoration: none;
      font-size: 18px;
      line-height: 60px;
      background-color: #fff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
  }

  .projects:hover img {
      transform: scale(1.1);
  }

  .projects:hover .layer {
      height: 100%;
  }

  .hidden {
      display: none;
  }

  .show-more-btn {
      grid-column: 1 / -1;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  .show-more-btn:hover {
      background-color: #555;
  }


  /* contact sectinn */
  #contact {
      color: white;
      font-family: 'Courier New', Courier, monospace;
      margin: 50px 0;
  }

  #contact h1 {
      font-size: 40px;
      font-weight: bold;
  }


  .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin: 35px 0 0 0;
}

.contact-left p i {
    margin-right: 15px;
    color: #ff004f;
    font-size: 25px;
}

.icones {
    margin-top: 25px;
}

.icones a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 1s;
}

.icones a:hover {
    color: #a05ae1;
    transform: translateY(-5px);
}

.btn {
    margin-top: 20px;
    display: inline-block;
    background-color: #847cec;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color 1s ease-in-out;

}

.btn:hover {
    background-color: #4d11e6;

}

.contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-right form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bolder;
}

.contact-right button[type="submit"] {
    width: 50%;
    padding: 10px 20px;
    background-color: #847cec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-right button[type="submit"]:hover {
    background-color: #4d11e6;
}


.copyright {
    margin: 60px 0;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.copyright i {
    color: red;
    font-size: 28px;
}


.copyright span {
    color: #ff004f;
    font-size: 28px;
    font-weight: bolder;
}



/* Responsive styles */
@media screen and (max-width: 1024px) {

    .container,
    .container-services,
    .container-portfolio {
        padding: 0 5%;
    }

    .services-list,
    .my-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .about,
    .row {
        flex-direction: column;
    }

    .box1,
    .box2,
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .introduction {
        margin-left: 0;
    }

    .services-list,
    .my-projects {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .intro h3 {
        font-size: 24px;
    }

    .name {
        font-size: 40px;
    }

    .skills {
        flex-direction: column;
    }

    .contact-right button[type="submit"] {
        width: 100%;
    }
}

/* General responsive adjustments */
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


  .toggle-btn {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  .toggle-btn:hover {
      background-color: #555;
  }

  .hidden {
      display: none;
  }
